.title {
    font-family: 'Carter One';
  }
  .container {
    margin-top: 50px;
    text-align: center;
  }
  
  .image-grid {
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-auto-rows: minmax(50px, auto);
    
    .image-item:nth-child(5n){
      grid-column-end: span 2;
    }
    
    img{
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }